/*resetting the document settings*/
*{
    text-decoration: none;
    padding: 0px;
    margin: 0;
    
    /*animation-timeline: view();
    animation-range: entry 0% cover 50%;
    animation: scrollreveal ease-in-out both;*/
}
body{
    background-image: url(images/secondback.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: repeat-y;
    overflow-x: hidden;
    }
/*
    @keyframes scrollreveal{
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity:1;
            transform: translateY(0);
        }
    }
*/
@import url('https://fonts.cdnfonts.com/css/typograph-pro');
@keyframes slidedown {
    0% {
      transform: translate(0, -60px);
      opacity:0.8;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }
@keyframes slideupimage {
    0% {
      transform: translate(55vw, 100px);
      opacity:0;
    }
    100% {
      
      opacity:1;
    }
  }
  @keyframes slideuptext {
    0% {
      transform: translate(0, 60px);
      opacity:0;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }
  @keyframes slowdown {
    
    to{
        transform: translateY(-50VH)scale(0.9);
        opacity: 0;
    }
    
}
@keyframes goup {
    from{
        opacity: 0.8;
    }
    to{
        transform: translateY(-60VH);
        opacity: 1;
    }
    
}

@keyframes slideleft {
    to{
        left:-400px;
    }
}

/*nav bar styling*/
.nav-bar{
    display: grid;
    position: relative;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 1;
    height: 64px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, -60px);
}
/*nav bar font styling*/
.nav-bar a ,button{
    font-family:'TYPOGRAPH PRO', sans-serif ;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size:clamp(0.75rem,1.5vw,1rem);
    letter-spacing: 1px;
    stroke: none;
    transition: 0.3s;
}
/*items positioning */
.item-1{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.item-1 h1{
    font-family:'TYPOGRAPH PRO', sans-serif ;
    font-weight: bold;
    color: #d3e349;
    font-size:clamp(1rem,3vw,2rem);
    letter-spacing: 1px;
    stroke: none;
    transition: 0.3s;
}
.item-2{
    grid-column-start: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-right: 100px;
    margin-left: 10px;
}
.item-3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-left: 100px;
    margin-right: 10px;
}
.item-4{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end ;
    margin-right: 120px;
    margin-left: 10px;
}
.item-5{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end;
    margin-right: 10px;
}
.btn-1{
    border: none;
    background:none;
}
.btn-2{
    background: none;
    padding: 6px;
    border-width: 1px;
   
}
/*items hovering effect*/
.item-2 a:hover{
    color: #d3e349;
    text-decoration: underline;
}

.item-3 a:hover{
    color: #d3e349;
    text-decoration: underline;
}
.btn-2:hover{
    background-color:#ebfc54 ;
    border-radius: 5px;
}
.btn-1 a:hover{
    text-decoration: underline;
    color: #d3e349;
}
/*First page*/
.first-page-grid{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    height: 100vh;
    animation: slowdown;
    animation-duration: 1ms;
    animation-direction: normal;
    animation-timeline: scroll();
}
.block-4{
    position: absolute;
    height: 100vh;
    transform: translateX(55vw);
    z-index: -1;
    scale: 0.5;
    animation-name: slideupimage;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.text-block{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family:'TYPOGRAPH PRO', sans-serif; 
    animation-name: slideuptext;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, 60px);
    
}
.text-block-1{
    flex-grow:0.05;
    font-size:clamp(0.8rem,3vw,2rem);
    white-space: nowrap;
}
.text-block-2{
    color: #d3e349;
    flex-grow: 0.1;
    font-size:clamp(0.8rem,3vw,2rem);
}
.text-block-3{
    font-style: oblique;
    text-align: center;
    font-size:clamp(0.7rem,2vw,1rem);
}
/*Second page*/
.second-page-grid{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    grid-gap: 60px;
    z-index: 1;
    animation-name: goup;
    animation-duration: 1ms;
    animation-timeline: scroll();
    
}
.second-page-grid h1{
    font-family:'TYPOGRAPH PRO', sans-serif; 
    text-align: center;
    margin: 20px;
}
.second-page-title span{
    color:#d3e349 ;
    font-size: 3rem;
}
.wrapper{
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 400px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0)
    );
}
.holder{
    height: 400px;
    width: 400px;
    position: absolute;
    left: max(calc(400px * 8),100%);
    animation-name: slideleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.holder1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
.holder2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
.holder3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
.holder4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
.holder5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
.holder6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
.holder7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
.holder8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

@keyframes rotation {
    to{
        transform: rotate(145deg);
    }
}
  
.element{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    animation: rotation;
    animation-duration: 1ms;
    animation-direction: normal;
    animation-timeline: scroll();
    filter: grayscale(100);
}
.element1{
    top:5vh;
    left: 5vh;
}

.element2{
    top:10vh;
    right: 20vh;
}
.element3{
    top:50vh;
    right: 75vh;
}

.element5{
    top:80vh;
    right: 10vh;
}
.element6{
    top:75vh;
    left: 10vh;
}
.element8{
    top:80vh;
    left: 100vh;
}
.element9{
    top:90vh;
    left: 100vh;
}
.element15{
    top: 16vh;
    left: 80vh;
}
/*third page grid*/
.third-page-grid{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    grid-gap: 60px;
    animation-name: goup;
    animation-duration: 1ms;
    animation-timeline: view();
    top: -30vh;
    z-index: 2;
}
.third-page-grid h1{
    font-family:'TYPOGRAPH PRO', sans-serif; 
    text-align: center;
}
.third-page-title span{
    color: #d3e349;
    font-size: 3rem;
} 
.allcardcontainers{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
/*CARD PACK1*/
.cardcontainer1 {
    position: relative;
    height: 200px;
    width: 150px;
    cursor: pointer;
}
.cards1{
    position: absolute;
    height: 200px;
    width: 150px;
    transition: transform 800ms cubic-bezier(.17,.67,.38,.9);
}
.card2-1{
    transform: translatex(5%)rotate(2.5deg);
}

.card3-1{
    transform: translatex(15%)rotate(7.5deg);
}

.card4-1{
    transform: translatex(20%)rotate(10deg);
}
.cardcontainer1:hover > .cards1:nth-child(4){
    transform: translatex(115%)translateY(20%)rotate(30deg);
}
.cardcontainer1:hover > .cards1:nth-child(3){
    transform: translatex(40%)rotate(10deg);
}
.cardcontainer1:hover > .cards1:nth-child(2){
    transform: translatex(-40%)rotate(-10deg);
}
.cardcontainer1:hover > .cards1:nth-child(1){
    transform: translatex(-110%)translateY(20%)rotate(-30deg);
}
/*CARD PACK2*/
.cardcontainer2 {
    position: relative;
    height: 200px;
    width: 150px;
    cursor: pointer;
    
}
.cards2{
    position: absolute;
    height: 200px;
    width: 150px;
    transition: transform 800ms cubic-bezier(.17,.67,.38,.9);
}
.card2-2{
    transform: translatex(5%)rotate(2.5deg);
}

.card3-2{
    transform: translatex(15%)rotate(7.5deg);
}

.card4-2{
    transform: translatex(20%)rotate(10deg);
}
.cardcontainer2:hover > .cards2:nth-child(4){
    transform: translatex(115%)translateY(20%)rotate(30deg);
    
}
.cardcontainer2:hover > .cards2:nth-child(3){
    transform: translatex(40%)rotate(10deg);
}
.cardcontainer2:hover > .cards2:nth-child(2){
    transform: translatex(-40%)rotate(-10deg);
}
.cardcontainer2:hover > .cards2:nth-child(1){
    transform: translatex(-110%)translateY(20%)rotate(-30deg);
}

/*CARD PACK3*/
.cardcontainer3 {
    position: relative;
    height: 200px;
    width: 150px;
    cursor: pointer;
}
.cards3{
    position: absolute;
    height: 200px;
    width: 150px;
    transition: transform 800ms cubic-bezier(.17,.67,.38,.9);
}
.card2-3{
    transform: translatex(5%)rotate(2.5deg);
}

.card3-3{
    transform: translatex(15%)rotate(7.5deg);
}

.card4-3{
    transform: translatex(20%)rotate(10deg);
}
.cardcontainer3:hover > .cards3:nth-child(4){
    transform: translatex(115%)translateY(20%)rotate(30deg);
}
.cardcontainer3:hover > .cards3:nth-child(3){
    transform: translatex(40%)rotate(10deg);
}
.cardcontainer3:hover > .cards3:nth-child(2){
    transform: translatex(-40%)rotate(-10deg);
}
.cardcontainer3:hover > .cards3:nth-child(1){
    transform: translatex(-110%)translateY(20%)rotate(-30deg);
}