@import url('https://fonts.cdnfonts.com/css/typograph-pro');
*{
    text-decoration: none;
    padding: 0px;
    margin: 0;
    font-family:'TYPOGRAPH PRO', sans-serif;
}
@keyframes rotate{
   to{transform: rotate(360deg);
   }
}
body{
    background-image: url(images/secondback.jpg);
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
}
.element{
    position: absolute;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.element1{
    top:5vh;
    left: 5vh;
    filter: invert(82%) sepia(89%) saturate(347%) hue-rotate(10deg) brightness(104%) contrast(98%);
}

.element2{
    top:10vh;
    right: 20vh;
    filter: invert(82%) sepia(89%) saturate(347%) hue-rotate(10deg) brightness(104%) contrast(98%);
}
.element3{
    top:50vh;
    right: 75vh; 
}

.element5{
    top:80vh;
    right: 10vh;
}
.element6{
    top:75vh;
    left: 10vh;
}
.element8{
    top:80vh;
    left: 100vh;
    filter: invert(82%) sepia(89%) saturate(347%) hue-rotate(10deg) brightness(104%) contrast(98%);
}
.element9{
    top:90vh;
    left: 100vh;
}
.element15{
    top: 16vh;
    left: 80vh;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100vw;
    flex-direction: column;
    
}
.nav{
    display: flex;
    position: relative;
    background-color: rgb(0 0 0 / 80%);
    height: 50px;
    width: 100vw;
    z-index: 1;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.nav a{
    font-weight: bolder;
    color: #ebfc54;
}
.nav img{
    width: 30px;
    margin-left: 30px;
    margin-right: 10px;
    filter: invert(82%) sepia(89%) saturate(347%) hue-rotate(10deg) brightness(104%) contrast(98%);
}
.container{
    display: flex;
    background-color: rgb(0 0 0 / 80%);
    position: relative;
    height: 500px;
    width: 500px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    
}
h1{
    color: white;
}
form{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    
}
.signin{
    width: 250px;
    white-space: nowrap;
    align-self: center;
    opacity: 0;
    transform: translate(-5%);
    transition: 0.5s;
}
.signup{
    width: 250px;
    transition: 0.5s;
    z-index: 1;
    
}
input{
    background-color: rgb(255, 255, 255);
    
    margin: 20px 0;
    padding:8px ;
    width:100%;
    border-radius: 3px;
    outline: none;
    border-width: 1px;
    border-color: #000000;
}
input:hover{
    border-width: 1px;
    border-color: #ebfc54;
}
button{
    background-color: rgb(239, 247, 150);
    border: none;
    border-radius: 4px;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}
.btn-1:hover{
    background-color:#ebfc54 ;
    border-radius: 5px;
}
.btn-2:hover{
    background-color:#ebfc54 ;
    border-radius: 5px;
}
.toogle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(92.4%,-7.4%);
    background-color: white;
    z-index: 2;
    height: 500px;
    width: 220px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 100px 30px 30px 100px;
    transition: 0.5s ease-in-out;
}
.choice1{
    display: block;
    transition: 5s ;
}
.choice2{
    display: none;
    transition: 5s ;
}
.btn-3{
    background-color: rgb(239, 247, 150);
    border: none;
    border-radius: 4px;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    color: black;
}
.btn-3:hover{
    background-color:#ebfc54 ;
    border-radius: 5px;
}