/*resetting the document settings*/
*{
    text-decoration: none;
    padding: 0px;
    margin: 0;
    animation: scrollreveal ease-in-out both;
    
    /*animation-timeline: view();
    animation-range: entry 0% cover 50%;*/
}
html{
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
/*
    @keyframes scrollreveal{
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity:1;
            transform: translateY(0);
        }
    }
*/
@keyframes slidedown {
    0% {
      transform: translate(0, -60px);
      opacity:0.8;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }
@keyframes slideup {
    0% {
      transform: translate(0, 60px);
      opacity:0;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }
@import url('https://fonts.cdnfonts.com/css/typograph-pro');
/*nav bar styling*/
.nav-bar{
    display: grid;
    position: relative;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 1;
    height: 64px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, -60px)
    
}
/*nav bar font styling*/
.nav-bar a ,button{
    font-family:'TYPOGRAPH PRO', sans-serif ;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 17px;
    letter-spacing: 1px;
    stroke: none;
    transition: 0.3s;
}
/*items positioning */
.item-1 img{
    height: 50px;
}
.item-1{
    justify-self: start;
    margin-left: 10px;
    margin-right: 10px;
}
.item-2{
    grid-column-start: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-right: 100px;
    margin-left: 10px;
}
.item-3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-left: 100px;
    margin-right: 10px;
}
.item-4{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end ;
    margin-right: 120px;
    margin-left: 10px;
}
.item-5{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end;
    margin-right: 10px;
}
.btn-1{
    border: none;
    background:none;
}
.btn-2{
    background: none;
    padding: 6px;
    border-width: 1px;
   
}
/*items hovering effect*/
.item-2 a:hover{
    color: rgb(41, 110, 214);
}

.item-3 a:hover{
    color: rgb(41, 110, 214);
}
.btn-2:hover{
    background-color:rgb(186, 214, 255) ;
    border-radius: 5px;
}
.btn-1 a:hover{
    text-decoration: underline;
    color: rgb(41, 110, 214);
}
/*First body*/
.first-page-grid{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    height: 100vh;
    animation-name: slideup;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, 60px)
}
.block-4 img{
    height: 40vh;
}
.block-4{
    justify-self: self-end;
}
.text-block{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100vh;
    font-family:'TYPOGRAPH PRO', sans-serif; 
    animation-name: slideup;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, 60px)
}
.text-block-1{
    flex-grow:0.05;
    font-size: 3vh;
    white-space: nowrap;
}
.text-block-2{
    flex-grow: 0.1;
    font-size: 3vh; 
}
.text-block-3{
    font-style: oblique;
    text-align: center;
    line-height: 5vh;
}
