/*resetting the document settings*/
*{
    text-decoration: none;
    padding: 0px;
    margin: 0;
    
    /*animation-timeline: view();
    animation-range: entry 0% cover 50%;
    animation: scrollreveal ease-in-out both;*/
}
body{
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    }
/*
    @keyframes scrollreveal{
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity:1;
            transform: translateY(0);
        }
    }
*/
@import url('https://fonts.cdnfonts.com/css/typograph-pro');
@keyframes slidedown {
    0% {
      transform: translate(0, -60px);
      opacity:0.8;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }
@keyframes slideup {
    0% {
      transform: translate(0, 60px);
      opacity:0;
    }
    100% {
      transform: translate(0, 0);
      opacity:1;
    }
  }

/*nav bar styling*/
.nav-bar{
    display: grid;
    position: relative;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 1;
    height: 64px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, -60px);
    
    
}
/*nav bar font styling*/
.nav-bar a ,button{
    font-family:'TYPOGRAPH PRO', sans-serif ;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size:clamp(0.75rem,1.5vw,1rem);
    letter-spacing: 1px;
    stroke: none;
    transition: 0.3s;
}
/*items positioning */
.item-1 img{
    height: 50px;
    cursor: pointer;
}
.item-1{
    justify-self: start;
    margin-left: 20px;
    margin-right: 10px;
}
.item-2{
    grid-column-start: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-right: 100px;
    margin-left: 10px;
}
.item-3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:1 ;
    justify-self:center;
    margin-left: 100px;
    margin-right: 10px;
}
.item-4{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end ;
    margin-right: 120px;
    margin-left: 10px;
}
.item-5{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self:end;
    margin-right: 10px;
}
.btn-1{
    border: none;
    background:none;
}
.btn-2{
    background: none;
    padding: 6px;
    border-width: 1px;
   
}
/*items hovering effect*/
.item-2 a:hover{
    color: rgb(41, 110, 214);
}

.item-3 a:hover{
    color: rgb(41, 110, 214);
}
.btn-2:hover{
    background-color:rgb(186, 214, 255) ;
    border-radius: 5px;
}
.btn-1 a:hover{
    text-decoration: underline;
    color: rgb(41, 110, 214);
}
/*First page*/
.first-page-grid{
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
    height: 100vh;
    animation-name: slideup;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: slowdown;
    animation-duration: 1ms;
    animation-direction: normal;
    animation-timeline: scroll();
}
.block-4 img{
    height: 40vh;
}
.block-4{
    justify-self: self-end;
}
.text-block{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
    font-family:'TYPOGRAPH PRO', sans-serif; 
    animation-name: slideup;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translate(0, 60px);
    font-size:clamp(0.75rem,1.5vw,1rem);
}
.text-block-1{
    flex-grow:0.05;
    font-size: 3vh;
    white-space: nowrap;
}
.text-block-2{
    flex-grow: 0.1;
    font-size: 3vh; 
}
.text-block-3{
    font-style: oblique;
    text-align: center;
    line-height: 5vh;
}
/*Second page*/
.second-page-grid{
    display: grid;
    position: relative;
    top: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    grid-gap: 60px;
    background-color: white;
    
}
.second-page-grid h1{
    font-family:'TYPOGRAPH PRO', sans-serif; 
    text-align: center;
    margin: 20px;
}
.wrapper{
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 400px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1)20%,
        rgba(0,0,0,1)80%,
        rgba(0,0,0,0)
    );
}
@keyframes slideleft {
    to{
        left:-400px;
    }
}
.holder{
    height: 400px;
    width: 400px;
    position: absolute;
    left: max(calc(400px * 8),100%);
    animation-name: slideleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.holder1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
.holder2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
.holder3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
.holder4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
.holder5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
.holder6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
.holder7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
.holder8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }
  
@keyframes slowdown {
    
    to{
        transform: translateY(-200px)scale(0.9);
    }
    
}